theme = "gruvbox"

[editor]
line-number = "relative"
mouse = false
rulers = [80]
auto-pairs = false

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.lsp]
display-inlay-hints = true
display-messages = true
snippets = true

[keys.normal.space]
i = ":toggle lsp.display-inlay-hints"
